.link {
  text-decoration: none;
  color: var(--main, #101828);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.active {
  color: var(--button-hover, #0b44cd);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px 120px;
  border-bottom: 1px solid var(--badges, #f2f4f7);
  background: var(--badges, #f2f4f7);
}

nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
