.link {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 500;
}

.active {
  color: rgb(30, 0, 255);
  font-weight: 600;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #15f4e5;
  padding: 30px;
}

nav {
  display: flex;
  gap: 20px;
}

h3 {
  font-size: 30px;
}

.button {
  width: auto;
  margin: 0 auto;
  font-size: 20px;
  background-color: rgb(198, 191, 191);
  border-color: black;
}