a {
  text-decoration: inherit;
}

body {
  font-family: Manrope;
  line-height: 1.5;
  color: var(--main, #101828);
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: flex;
  width: 276px;
  padding: 12px 0;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  background: var(--button, #3470ff);
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover,
button:focus {
  background: var(--button-hover, #0b44cd);
}
