.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url('/src/assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  height: 100vh;
  color: var(--white, #fff);
  text-align: center;
  padding-bottom: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px; /* 120% */
  margin-bottom: 16px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  margin-bottom: 40px;
}

.navbtn {
  display: flex;
  max-width: 100%;
  padding: 12px 99px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--button, #3470ff);
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px; /* 125% */
  white-space: nowrap;
  margin-top: 40px;
}
